.citation-container,
.citation-wrap {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 100vw;
  height: 100vh;
  color: var(--color);
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  font-weight: 200;
  font-size: 140px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

/* NE*/
.text-1 {
  color: var(--background);
  font-size: 180px;
  opacity: 0;
}

/* CRAIGNEz */
.text-2 {
  font-size: 180px;
  color: var(--background);
  white-space: nowrap;
  opacity: 0;
}

.text-2-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

/* PAS */
.text-3 {
  opacity: 0;
  color: var(--background);
  font-size: 180px;
  /* font-weight: 800; */
  /* mix-blend-mode: difference; */
}

/* VOUS NE L’ATTEINDREZ… */
.text-4 {
  transform-origin: "50% 50%";
  opacity: 0;
  color: var(--background);
  white-space: nowrap;
}

/* PAS. — texte rouge */
.text-5 {
  opacity: 0;
  font-size: 80px;
  color: var(--background);
  white-space: nowrap;
}

/* MAIS DANS CET ÉCART — texte noir */
.text-6 {
  opacity: 0;
  color: var(--background);
  font-size: 180px;
}

/* IMPOSSIBLE — texte noir (gros) */
.text-7 {
  color: var(--background);
  font-size: 400px;
  white-space: nowrap;
}

/* SE TROUVE PRÉCISÉMENT — texte noir */
.text-8 {
  opacity: 0;
  color: var(--background);
}

/* L’ESPACE OÙ LA — texte noir */
.text-9 {
  opacity: 0;
  color: var(--background);
}
/* TODO */

/* CRÉATIVITÉ — texte blanc */
.text-10 {
  opacity: 0;
  color: var(--blanc);
}

/* SE — texte blanc */
.text-11 {
  opacity: 0;
  color: var(--blanc);
}

/* DÉPLOIE — texte blanc */
.text-12 {
  opacity: 0;
  color: var(--blanc);
}

.text-13 {
  opacity: 0;
  color: var(--blanc);
}
