.landing-page-container {
  display: grid;
  position: relative;
  grid-template-rows: 1fr 3fr;
  place-items: center;
  align-items: start;
  z-index: 1;
  width: 100%;
  height: 100vh;
}

.load-animation {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: var(--color);
  width: 100%;
  height: 100%;
}

.load-h1 {
  position: relative;
  opacity: 0;
  z-index: 2;
  mix-blend-mode: difference;
  margin: 0;
  padding-top: 75px;
  color: var(--color);
  font-weight: 200;
  font-size: 18.2vw;
  font-family: "font7";
  text-align: center;
  white-space: nowrap;
}

.flex-container-1 {
  display: flex;
  position: absolute;
  top: 50%;
  justify-content: space-between;
  z-index: 2;
  margin-top: -10px;
  padding: 0 37px 0 40px;
  width: 100%;
}
.flex-container-2 {
  display: flex;
  position: absolute;
  bottom: 0;
  justify-content: space-between;
  z-index: 2;
  padding: 0 37px 30px 40px;
  width: 100%;
}
.load-h2-1,
.load-h2-2 {
  font-weight: 600;
  font-size: 30px;
  font-family: "font7";
  text-transform: uppercase;
}

.load-icon {
  width: 25px;
  height: 100%;
}

.load-info,
.load-name {
  font-weight: 100;
  font-size: 15px;
  font-family: "font7";
  text-transform: uppercase;
}
