.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  display: inline-block;
  /* variable font axes */
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.lightmode-button {
  border: none;
  border-radius: 25px;
  height: 40px;
  width: 70px;
  transition: 0.3s all ease-out;
  &:hover {
    scale: 1.1;
    transition: 0.3s all ease-out;
  }
}

.flex-container-3 {
  opacity: 0;
  display: flex;
  position: fixed;
  mix-blend-mode: difference;
  justify-content: flex-end;
  top: 5%;
  z-index: 2;
  padding: 0 37px 30px 40px;
  width: 100%;
}
